@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Leckerli+One");

#header {
  color: #fff;
  background-image: url("assets/bg-header.jpg");
  min-height: 800px;
  height: 100%;
  background-size: 1900px;
  background-position: -40px -120px;
}


#header .blur {
	background-color: rgba(52, 58, 64, 0.5); 
	min-height: 800px;
	height: 100%;
}

#header .blur #main-nav ul li {
	padding: 0 10px; 
}

#header .blur #main-nav ul li a {
	color: #fff; 
}
#header .blur #main-nav ul li a:hover,
#header .blur #main-nav ul li a.active {
	color: #8799A3; 
}

#header .blur #main-nav .btn {
	box-shadow:0px 7px 40px -12px #FFFF00;
	color: #ffff00;
	border-color: #ffff00;
	padding: .5em 2em; 
}

#header .blur .header-hero {
	letter-spacing: 2;
	padding: 150px 0; 
}

#header .blur .header-hero .greeting {
	font-family: 'Leckerli One', cursive; 
}

#header .blur .header-hero .name {
	font-weight: 800;
	font-family: 'Montserrat', sans-serif; 
}

#header .blur .header-hero .name name {
	color: #0081FF; 
}

#header .blur .header-hero .profesion {
	font-weight: 300; 
	font-size: 30px;

}

#header .blur .header-hero .col-8 {
	padding: 0; 
}

#header .blur .header-hero .desc {
	color: #636363; 
}

#header .blur .header-hero .btn {
	padding: 10px 30px; 
}

#header .header .col-7 {
	padding-left: 0;
}

#about-me {
	background-color: #0081FF;
 	color: #fff;
	padding: 0 60px;
	padding-top: 130px;
}

#about-me h2 {
	font-family: 'Leckerli One', cursive; 
}

.about-desc {
	font-weight: 700;
}

.media img {
	width: 50px;
}

.media h5 {
	font-weight: 900;
	margin-bottom: 20px;
	line-height: 1.5;
}

.media {
	padding-right: 50px;
}

.about-head-right {
	padding-left: 0px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 70px;
}

.about-head-left {
	padding-right: 60px;
	font-family: 'Montserrat', sans-serif;
}

.about-head-left p {
	font-size: 38px;
	line-height: 1.2;
}

#content {
	padding: 60px 0;
	color: #fff;
	background-color: #007AF3;
}

.icon {
	display: inline;
	max-width: 100%;
	text-align: center;
	margin-left: 120px;
}


a .fa {
	padding: 0 10px;
	color: #6ab0f6; 
}

a .fa:hover,
.fa.active {
	color: #fff;
}

#social-media {
	padding: 40px 0;
	background-color: #0081ff;
	color: #fff;
}

#portfolio {
	padding-top: 60px;
	padding-bottom: 40px;	
}

#portfolio h2 {
	font-family: 'Leckerli One', cursive; 
	color: #8799A3;
}

#portfolio p {
	color: #252525;
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

.btn-port {
	background-color: #1CBBB3;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 13px;
	padding: 15px 30px;
	float: right;
	box-shadow: 0px 7px 40px -12px #1CBBB3;
}

#port-content {
	padding: 120px 0;
}



.image {
	height: 500px;
	width: 100%;
	object-fit: cover;
}
.image2 {
	height: 775px;
	width: 100%;
	object-fit: cover;
}
.image3 {
	height: 275px;
	width: 100%;
}
.image4 {
	height: 500px;
	width: 100%;
	object-fit: cover;
}
.image5 {
	height: 275px;
	width: 100%;
	object-fit: cover;
}
.image6 {
	height: 275px;
	width: 100%;
	object-fit: cover;
}


.row {
	margin: 0;
}

.col-3,
.col-6,
.col-12 {
	padding: 0 0;
}

.up {
	margin-top: -50px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #252525;
}


.text {
  color: #8799A3;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text h2 {
	color: #fff;
	font-size: 15px;
	font-weight: 900;
}

.content:hover .overlay {
	opacity: 1;
}

#clients {
	background-image: url('assets/bg-client.jpg');
	background-size: cover;
	min-height: 600px;
	color: #fff;
	padding: 430px 200px;;
}
